<!DOCTYPE html>
<html lang="en" data-hidden-until-imports-imported>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Scheme Select</title>
    <link rel="stylesheet" href="../../../assets/style.css" />
    <link href="../../../assets/prism/prism.css" rel="stylesheet" />
    <script src="../set-color-scheme-from-local-storage.js"></script>
    <script type="module">
      import { ImportMarkdown } from "../../../components/imports/ImportMarkdown/ImportMarkdown.js";
      import { ColorSchemeSelect } from "../../../components/theming/ColorSchemeSelect/ColorSchemeSelect.js";
      customElements.define("import-markdown", ImportMarkdown);
      customElements.define("color-scheme-select", ColorSchemeSelect);
    </script>
  </head>
  <body>
    <import-markdown
      source="readme.md"
      data-visible-when-imported
    ></import-markdown>

    <color-scheme-select>
      <template shadowrootmode="open">
        <link rel="stylesheet" href="color-scheme-select.css" />
        <label for="color-scheme-select">Color scheme:</label>
        <select name="colorScheme" id="color-scheme-select">
          <option value="auto">Auto (system preference)</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
          <option value="custom">Custom colors</option>
        </select>
      </template>
    </color-scheme-select>

    <script src="../../../assets/prism/prism.js"></script>
  </body>
</html>
