<!DOCTYPE html>
<html lang="en" data-hidden-until-imports-imported>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details Accordion</title>
    <link rel="stylesheet" href="../../../assets/style.css" />
    <link href="../../../assets/prism/prism.css" rel="stylesheet" />
    
    <script type="module">
      import { ImportMarkdown } from "../../imports/ImportMarkdown/ImportMarkdown.js";
      import { DetailsAccordion } from "./DetailsAccordion.js";

      customElements.define("import-markdown", ImportMarkdown);
      customElements.define("details-accordion", DetailsAccordion);
    </script>
  </head>
  <body>
    <!-- <style>
      details > summary {
        list-style: inside;
      }

      details > summary::marker {
  content: '✝';
  font-size: 1.2em;
}
      
    </style> -->
    <import-markdown
      source="readme.md"
      data-visible-when-imported
    ></import-markdown>

    <h2>Basic Details Accordion</h2>
    <details-accordion>
      <template shadowrootmode="open">
        <link rel="stylesheet" href="details-accordion.css" />
        <slot></slot>
      </template>
      <details>
        <summary>Summary 1</summary>
        Details content 1.
      </details>
      <details>
        <summary>Summary 2</summary>
        Details content 2.
      </details>
      <details>
        <summary>Summary 3</summary>
        Details content 3.
      </details>
    </details-accordion>

    <h2>Nested accordion</h2>
    <details-accordion>
      <template shadowrootmode="open">
        <link rel="stylesheet" href="details-accordion.css" />
        <slot></slot>
      </template>
      <details>
        <summary>Summary no children</summary>
        Details content no children.
      </details>
      <details>
        <summary>Summary with children</summary>
        <details-accordion accordion>
          <template shadowrootmode="open">
            <link rel="stylesheet" href="details-accordion.css" />
            <slot></slot>
          </template>
          <details>
            <summary>Nested summary 1</summary>
            Nested details content 1.
          </details>
          <details>
            <summary>Nested summary 2</summary>
            Nested details content 2.
          </details>
        </details-accordion>
      </details>
    </details-accordion>
  </body>

    <script src="../../../assets/prism/prism.js"></script>
  </body>
</html>
