<!DOCTYPE html>
<html lang="en" data-hidden-until-imports-imported>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details Open Close All</title>
    <link rel="stylesheet" href="../../../assets/style.css" />
    <link href="../../../assets/prism/prism.css" rel="stylesheet" />
    
    <script type="module">
      import { ImportMarkdown } from "../../imports/ImportMarkdown/ImportMarkdown.js";
      import { DetailsOpenCloseAll } from "./DetailsOpenCloseAll.js";

      customElements.define("import-markdown", ImportMarkdown);
      customElements.define("details-open-close-all", DetailsOpenCloseAll);
    </script>
  </head>
  <body>
    <import-markdown
      source="readme.md"
      data-visible-when-imported
    ></import-markdown>

    <h2>Details Open Close All</h2>
    <details-open-close-all>
      <template shadowrootmode="open">
        <link rel="stylesheet" href="details-open-close-all.css" />
        <button aria-labelledby="open-all" title="Open all">
          <span id="open-all">Open all</span>
        </button>
        <button aria-labelledby="close-all" title="Close all">
          <span id="close-all">Close all</span>
        </button>
        <slot></slot>
      </template>
      <details>
        <summary>Summary 1</summary>
        Details content 1.
      </details>
      <details>
        <summary>Summary 2</summary>
        Details content 2.
      </details>
      <details>
        <summary>Summary 3</summary>
        Details content 3.
      </details>
    </details-open-close-all>

    <h2>Nested Details Open Close All</h2>
    <details-open-close-all>
      <template shadowrootmode="open">
        <link rel="stylesheet" href="details-open-close-all.css" />
        <button aria-labelledby="open-all" title="Open all">
          <svg
          width="1em"
          height="1em"
          aria-hidden="true"
          focusable="false"
          fill="currentColor"
        >
          <use href="../../../public/svg/icons.svg#open-all"></use>
        </svg>
          <span id="open-all"></span>Open all
        </button>
        <button aria-labelledby="close-all" title="Close all">
          <svg
          width="1em"
          height="1em"
          aria-hidden="true"
          focusable="false"
          fill="currentColor"
        >
          <use href="../../../public/svg/icons.svg#collapse-all"></use>
        </svg>
          <span id="close-all"></span>Close all
        </button>
        <slot></slot>
      </template>
      <details>
        <summary>Summary no children</summary>
        Details content no children.
      </details>
      <details>
        <summary>Summary with children</summary>
        <details-open-close-all>
          <template shadowrootmode="open">
            <link rel="stylesheet" href="details-open-close-all.css" />
            <slot></slot>
          </template>
          <details>
            <summary>Nested summary 1</summary>
            Nested details content .
          </details>
          <details>
            <summary>Nested summary 2</summary>
            Nested details content 2.
          </details>
        </details-open-close-all>
      </details>
    </details-open-close-all>
  </body>

    <script src="../../../assets/prism/prism.js"></script>
  </body>
</html>
