<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icon Button</title>
    <link rel="stylesheet" href="../../../assets/style.css" />
    <link href="../../../assets/prism/prism.css" rel="stylesheet" />
    <script type="module">
      import { ImportMarkdown } from "../../imports/ImportMarkdown/ImportMarkdown.js";
      customElements.define("import-markdown", ImportMarkdown);
    </script>
  </head>
  <body>
    <icon-button data-color-scheme="dark">
      <template shadowrootmode="open">
        <style>
          button {
            color: var(--text);
            background-color: var(--surface);
            border: var(--border);
          }
        </style>
        <button aria-labelledby="more" title="More">
          <svg
            width="1em"
            height="1em"
            aria-hidden="true"
            focusable="false"
            fill="currentColor"
          >
            <use href="../../../public/svg/icons.svg#icon-more"></use>
          </svg>
          <span id="more">More</span>
        </button>
      </template>
    </icon-button>

    <import-markdown source="readme.md"></import-markdown>
    <script src="../../../assets/prism/prism.js"></script>
  </body>
</html>
